Given a square image encoded as a matrix, rotate the image clockwise with using only constant extra space.

input:

[[2, 3],

[1, 4]]

output:

[[1, 2],

[4, 3]]

# Rotate image
 - pay attention to  a constraint: you can only use constant extra space to solve this problem
 - pay attention to the index. It is easy to make mistakes
 - floor devision
 - how to rotate the image when the length of the image is more than 2

In [69]:
5//2 #floor devision

2

In [91]:
def rotate(mat):
    n = len(mat)
    width = n // 2
    for i in range(0, width):
        for j in range(i, n-i-1):
            reserve = mat[i][j]
            mat[i][j] = mat[n-j-1][i]
            mat[n-j-1][i] = mat[n-i-1][n-j-1]
            mat[n-i-1][n-j-1] = mat[j][n-i-1]
            mat[j][n-i-1] = reserve
    return mat

In [92]:
mat1 =[[1,2,3],[4,5,6],[7,8,9]]

In [93]:
pd.DataFrame(mat1)

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [94]:
len(mat1)

3

In [95]:
a = rotate(mat1)

In [96]:
import pandas as pd

In [97]:
pd.DataFrame(a)

   0  1  2
0  7  4  1
1  8  5  2
2  9  6  3